*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}
.navbar{
background-color: #cfd1dc;
}
.navbar-brand{
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
    font-weight: 600;
}
.nav-link{
font-size: 1.2rem;
    color:rgb(255, 255, 255) ;
}
.nav-link:hover{
    color: red;
    transition: 0.3s;
}
.nav-item{
    color: rgb(7,7,78);
    font-weight:500 ;
    padding-left: 35px;
}
.btn0{
    height: 52px;
    width: 130px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
    background-color: rgb(248,83,83);

}
.btn0:hover{
    background-color: rgb(214,11,11);
    transition:all 0.4s;
}

.btn1{
    height: 52px;
    width: 130px;
    background-color: transparent;
    color: rgb(248,20,20);
    outline: none;
    transition:all 0.4s;
    border: 2px solid rgb(248,20,20);
}
.btn1:hover{
    background-color:rgb(214,11,11) ;
    transition:all 0.4s;
    color: white;
    border: none;
    outline: none;
}

/* ============================= main section====================================== */
/* main1copy.jpg */

.main{
    background: url(mainbackground.jpeg)no-repeat;
    background-size: cover;
    min-height: 95vh;
    width: 100%;
}

.main h1{
    font-size:5rem;
    font-weight: 800;
    color:rgb(7,7,78) ;
}
.main input{
    height: 71px;
    width: 70%;
    border: none;
    outline: none;
    padding: 15px;
}
.btn2{
    height: 70px;
    width: 25%;
    background-color: rgb(243,73,73);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
    margin-left: -4px;
}
.btn2:hover{
    background-color: rgb(214,11,11);
    transition: all 0.4s;

}

/* =============================ceta================================= */

.red{
    color: red;
}
.ceta h1{
    font-size: 3.5rem;
    color: rgb(7,7,7 );
}
.ceta .card:hover{
    color: red;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 2px 2px 22px -11px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 2px 22px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 22px -11px rgba(0,0,0,0.75);
}

.btn3{
    height: 70px;
    width: 70%;
    border:1px solid rgb(130,130,231);
    background-color: white;
    border-radius: 5px;
    color: rgb(130,130,231);
    transition: all 0.4s;
}
.btn3:hover{
    background: rgb(102,102,214);
    color: white;
    border: none;
    outline: none;
    transition: all 0.4s;

}
.ceta{
    background-color: #cacacc;
}
/* ================================================================ */


.resume{
    background:linear-gradient(rgba(4,11,75,0.719),rgba(4,26,100,0.73)), url(work.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.resume h1{
    font-size: 3.8rem;
}

/* =================================================================== */

.job h1{
    font-size: 3.5rem;
    color: rgb(7,7,78);
}
/* rgb(243,73,73 */
.btn4{
    height: 60px;
    width: 30%;
    border-radius: 5px;
    outline: none;
    border: none;
    background: rgb(47, 50, 122);
    color: white;
    transition: all 0.4s;

}
.btn4:hover{
    
    background:rgb(79, 53, 135);
    color: white;
    transition: all 0.4s;
    border: none;
    outline: none;    
}

/* ===============================footer==================================== */

.footer{
    background: #39467a;
    color: white;
}

.footer p{
    margin:0;
    color: #ffffff;
}

.link{
    color:#ffffff;
    transition: all 0.4s;
}
.link:hover{
    color: #ff2962;
    padding-left: 10px;
    transition: all 0.4s;
    cursor:pointer;
}

.footer svg:hover{
    cursor: pointer;
    padding-left: 3px;
    transition: 0.3s;
}

.footer input{
    height: 45px;
    width: 70%;
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.footer button{
    height: 45px;
    width: 20%;
    border: none;
    outline: none;
    margin-left: -12px;
    border-top: 1px solid #ff2962;
    background-color: #ff2962;
    color: white;
    margin-top: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;


}